@model KongOrange.Squares.DomainClasses.SquareSetPiece

@{
    ViewBag.Title = "Details";
}

<div class="modal">
    
    <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="piece" width="300" height="300"/>

    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("Delete", "Delete", new {id = Model.Id, squareSetId = Model.SquareSetId, backToAction = "Details", backToController = "SquareSetPieces", backToRouteId = Model.Id}) |
        @Html.ActionLink("Back to List", "Details", "SquareSets", new {id = Model.SquareSetId}, null)
    </p>
</div>