@{
    ViewBag.Title = "About";
}

<div id="about">
    
    <article id="article-1" class="article-container">
        <h1>About</h1>
        <p>Squares is a project with the ability to interactively create new art. You can combine pieces of art into whole picture in a virtual canvas. You do not need skills in any design tools such as Photoshop to plunge into the world of art. Start playing right now with Squares! Catch a piece of your future art and simply drag it onto the canvas. You can twist,  turn and rotate pieces until you get a perfect picture.
Squares has an unlimited number of possibilities for creativity. Create your own unique picture playing in the Squares!</p>
    </article>

    <article id="article-2" class="article-container">
        <h1>For Artist</h1>
        <p>Share your art and help people around discover  their creative potential.
Give the opportunity for people, who have not yet revealed themselves in the art, to create something extraordinary and unique.
Upload a set of 5-25 pieces and let people rate and comment on your work. Inspire and encourage creativity!</p>
    </article>

    <article id="article-3" class="article-container">
        <h1>For Users</h1>
        <p>On the Squares you have a unique opportunity to try yourself in the role of the artist.
Start playing and create art.
Combine fun to the creative process.
Rate artists, comment on them, inspire artists to create new art.</p>
    </article>
    <div></div>

    <!-------------position absolute----->
    <img src="/Content/Images/about/blizniak.jpg" id="art1" class="art-container"/>
    <img src="/Content/Images/about/panie.jpg" id="art2" class="art-container"/>
    <img src="/Content/Images/about/panreka.jpg" id="art3" class="art-container"/>
    <img src="/Content/Images/about/ulvogkat.jpg" id="art4" class="art-container"/>


    <h2 id="followUsOnFacebook">Follow Us On Facebook</h2>
    <h2 id="Didyoualredyseeourvideo">Did you alredy see our video?</h2>
    <h2 id="FollowourinstagramItssoocool">Follow our instagram. Its soo cool!</h2>
    <h2 id="Sendmessagetous">Send message to us!</h2>
    <h2 id="checkOurTwitter">Check our Twitter!</h2>
    <h2 id="CreateAtmosphere">Create Atmosphere with our playlist!</h2>
    <a href="http://www.twitter.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/twitter.png" class="aboutSocialIcon" id="twitter" alt="twitter" /></a>
    <a href="http://www.spotify.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/spotify.png" class="aboutSocialIcon" id="spotify" alt="spotify"/></a>
    <a href="http://www.instagram.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/inst.png" class="aboutSocialIcon" id="inst" alt="instagram"/></a>
    <a href="http://www.youtube.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/youtube.png" class="aboutSocialIcon" id="youtube" alt="youtube"/></a>
    <a href="http://www.facebook.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/facebook.png" class="aboutSocialIcon" id="facebook" alt="facebook"/></a>
    <a href="http://www.hotmail.com/" rel="nofollow" target="_blank"><img src="/Content/Images/about/mail.png" class="aboutSocialIcon" id="letter" alt="email" /></a>

</div>
