@{
    ViewBag.Title = "Create";
}

@section scripts{
    @Scripts.Render("~/bundles/squareTool")
}

<section class="mainSections" id="homeSection">
    <div id="canvas">
        <div id="gridBorder"></div>
        <div id="grid"></div>
        <div class="resizeButton" id="tl"></div>
        <div class="resizeButton" id="tr"></div>
        <div class="resizeButton" id="bl"></div>
        <div class="resizeButton" id="br"></div>
    </div>
    <button id="playButton"></button>
    <div id="piecesContainer">
        <div class="pieces" id="piece_1" data-pieceID="12" style="background-image: url(/Content/Images/tool/14.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_2" data-pieceID="2" style="background-image: url(/Content/Images/tool/15.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_3" data-pieceID="13" style="background-image: url(/Content/Images/tool/16.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_4" data-pieceID="14" style="background-image: url(/Content/Images/tool/17.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_5" data-pieceID="15" style="background-image: url(/Content/Images/tool/18.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_6" data-pieceID="16" style="background-image: url(/Content/Images/tool/19.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_7" data-pieceID="17" style="background-image: url(/Content/Images/tool/20.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_8" data-pieceID="18" style="background-image: url(/Content/Images/tool/21.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_9" data-pieceID="19" style="background-image: url(/Content/Images/tool/22.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_10" data-pieceID="20" style="background-image: url(/Content/Images/tool/23.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_11" data-pieceID="21" style="background-image: url(/Content/Images/tool/24.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_12" data-pieceID="22" style="background-image: url(/Content/Images/tool/25.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_13" data-pieceID="23" style="background-image: url(/Content/Images/tool/26.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_14" data-pieceID="24" style="background-image: url(/Content/Images/tool/27.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_15" data-pieceID="25" style="background-image: url(/Content/Images/tool/28.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_16" data-pieceID="26" style="background-image: url(/Content/Images/tool/29.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_17" data-pieceID="27" style="background-image: url(/Content/Images/tool/30.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_18" data-pieceID="28" style="background-image: url(/Content/Images/tool/31.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_19" data-pieceID="29" style="background-image: url(/Content/Images/tool/32.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_20" data-pieceID="30" style="background-image: url(/Content/Images/tool/33.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_21" data-pieceID="31" style="background-image: url(/Content/Images/tool/34.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_22" data-pieceID="32" style="background-image: url(/Content/Images/tool/35.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_23" data-pieceID="33" style="background-image: url(/Content/Images/tool/36.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_24" data-pieceID="34" style="background-image: url(/Content/Images/tool/37.jpg); background-size: 100% 100%;"></div>
        <div class="pieces" id="piece_25" data-pieceID="35" style="background-image: url(/Content/Images/tool/38.jpg); background-size: 100% 100%;"></div>
    </div>
</section>

<section class="mainSections" id="browseSection">
    <h1>Most Popular</h1>
    <div id="popularImagesContainer">
        <img src="/Content/Images/tool/blizniak.jpg" class="topRatedImages" alt="blizniak" />
        <img src="/Content/Images/tool/panibut.jpg" class="topRatedImages" alt="panibut" />
        <img src="/Content/Images/tool/panie.jpg" class="topRatedImages" alt="panie" />
        <img src="/Content/Images/tool/panimrowa.jpg" class="topRatedImages" alt="panimrowa" />
        <img src="/Content/Images/tool/panipan.jpg" class="topRatedImages" alt="panipan" />
        <img src="/Content/Images/tool/panreka.jpg" class="topRatedImages" alt="panreka" />
        <img src="/Content/Images/tool/panzegar.jpg" class="topRatedImages" alt="panzegar" />
        <img src="/Content/Images/tool/ulvogkat.jpg" class="topRatedImages" alt="ulvogkat" />
    </div>
    <a href="@Url.Action("Index", "Browse")" title="Browse art"><img src="/Content/Images/browseArrow.png" alt="browse art" id="browseArrow"></a>
</section>

<section class="mainSections" id="aboutSection">
    <h1>Squares</h1>
    <article id="index-article-1" class="article-container">
        <h2>For Users</h2>
        <p>
            On the Squares you have a unique opportunity to try yourself in the role of the artist.
            Start playing and create art.
            Combine fun to the creative process.
            Rate artists, comment on them, inspire artists to create new art.
        </p>
        
    </article>
    <article id="index-article-2" class="article-container">
        <h2>For Artist</h2>
        <p>
            Share your art and help people around discover  their creative potential.
            Upload a set of 5-25 pieces and let people rate and comment on your work. Inspire and encourage creativity!
        </p>
       
      
    </article>
    <article id="index-article-3" class="article-container">
        <p><span>Squares</span> is a project with the ability to interactively create new art.
You can combine pieces of art into whole picture in the canvas.
Catch a piece of your future art and simply drag it onto the canvas.
Squares has an unlimited number of possibilities for creativity.
Create your own unique picture playing in the Squares!</p>
    </article>
    <div></div>
</section>