/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#about {
  text-align: center;
  width: 100%;
  padding-bottom: 50px; }

.article-container {
  margin: 0 auto;
  width: 290px;
  height: 290px;
  margin-top: -10px;
  border: 15px solid transparent;
  border-image: url("/Content/Images/gridBorder.png") 40 stretch;
  font-size: 0.8em; }
  .article-container h1 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 30px; }

#article-2 {
  transform: rotate(-4deg); }

#article-3 {
  transform: rotate(2deg); }

#art1 {
  display: none; }

#art2 {
  display: none; }

#art3 {
  display: none; }

#art4 {
  display: none; }

#twitter {
  display: none; }

#spotify {
  display: none; }

#inst {
  display: none; }

#youtube {
  display: none; }

#facebook {
  display: none; }

#letter {
  display: none; }

#followUsOnFacebook {
  display: none; }

#Didyoualredyseeourvideo {
  display: none; }

#FollowourinstagramItssoocool {
  display: none; }

#Sendmessagetous {
  display: none; }

#checkOurTwitter {
  display: none; }

#CreateAtmosphere {
  display: none; }

@media screen and (min-width: 600px) {
  #twitter {
    position: absolute;
    top: 510px;
    left: 2%;
    display: block; }
  #spotify {
    position: absolute;
    top: 800px;
    right: 3%;
    display: block; }
  #inst {
    position: absolute;
    top: 900px;
    left: 9%;
    display: block; }
  #youtube {
    position: absolute;
    top: 550px;
    right: 6%;
    display: block; }
  #facebook {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 160px;
    right: 9%;
    display: block; }
  #letter {
    position: absolute;
    top: 250px;
    left: 11%;
    display: block; } }

@media only screen and (min-width: 1150px) {
  .aboutSocialIcon {
    transition: all 600ms ease-in-out; }
    .aboutSocialIcon:hover {
      transform: rotate(360deg); }
  #art1 {
    display: block;
    left: 45px;
    top: 400px;
    transform: rotate(45deg); }
  #art2 {
    display: block;
    z-index: 1;
    right: 250px;
    top: 750px;
    background: #fff;
    transform: rotate(-15deg); }
  #art3 {
    display: block;
    right: 150px;
    top: 860px;
    transform: rotate(7deg); }
  #art4 {
    display: block;
    left: 110px;
    top: 1550px;
    transform: rotate(-15deg); }
  #twitter {
    display: block;
    position: absolute;
    top: 660px;
    left: 20px; }
  #spotify {
    display: block;
    position: absolute;
    top: 1010px;
    right: 380px; }
  #inst {
    display: block;
    position: absolute;
    top: 1450px;
    left: 330px; }
  #youtube {
    display: block;
    position: absolute;
    top: 450px;
    right: 110px; }
  #facebook {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 210px;
    right: 190px; }
  #letter {
    display: block;
    position: absolute;
    top: 300px;
    left: 160px; }
  #followUsOnFacebook {
    display: block;
    position: absolute;
    top: 300px;
    right: 30px;
    font-size: 1.3em; }
  #Didyoualredyseeourvideo {
    display: block;
    position: absolute;
    top: 550px;
    right: -90px;
    font-size: 1.3em;
    transform: rotate(90deg); }
  #FollowourinstagramItssoocool {
    display: block;
    position: absolute;
    top: 1410px;
    left: 110px;
    font-size: 1.3em;
    transform: rotate(-6deg); }
  #Sendmessagetous {
    display: block;
    position: absolute;
    top: 250px;
    left: 30px;
    font-size: 1.3em;
    transform: rotate(-20deg); }
  #checkOurTwitter {
    display: block;
    position: absolute;
    top: 630px;
    left: 15px;
    font-size: 1.3em;
    transform: rotate(13deg); }
  #CreateAtmosphere {
    display: block;
    position: absolute;
    top: 1070px;
    right: 20px;
    font-size: 1.3em; }
  #about {
    display: inline-block;
    width: 1150px;
    padding-bottom: 100px; }
  .article-container {
    width: 490px;
    margin: 0 auto;
    height: 490px;
    margin-top: -10px;
    border: 30px solid transparent;
    border-image: url("/Content/Images/gridBorder.png") 40 stretch; }
    .article-container h1 {
      font-size: 2.4em;
      margin-top: 15px;
      margin-bottom: 15px; }
    .article-container p {
      line-height: 38px;
      text-align: center;
      white-space: pre-wrap;
      font-size: 1.4em; }
  #article-2 {
    position: relative;
    z-index: 50;
    background-color: #fff;
    width: 570px;
    height: 570px;
    margin-top: 25px;
    transform: translate(-220px, 0) rotate(-7deg); }
    #article-2 h1 {
      margin-top: 80px; }
    #article-2 p {
      margin-top: 50px;
      font-size: 1.8em; }
  #article-3 {
    position: relative;
    z-index: 30;
    margin-top: -220px;
    transform: rotate(5deg) translate(250px, 0); }
    #article-3 h1 {
      margin-top: 80px; }
    #article-3 p {
      margin-top: 50px;
      font-size: 1.8em; }
  .art-container {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 9px solid transparent;
    border-image: url("/Content/Images/pieceBorder.png") 9 stretch; } }

.input, .modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"], .modal input[type="file"] {
  font-family: "Indie Flower", cursive;
  text-align: center;
  width: 100%;
  height: 15px;
  border: 20px solid transparent;
  margin: 0 0 0 -15px;
  border-image: url("/Content/Images/inputBorder.png") 40 stretch; }

html {
  height: 100%; }

body {
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
  position: relative;
  min-height: 100%; }

#wrapper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 70px;
  position: relative; }

header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px; }
  header #logo {
    float: left;
    width: 60px;
    margin-left: 40px;
    margin-top: 10px;
    height: auto; }
  header nav {
    float: right;
    position: relative; }
    header nav ul {
      height: 100vh;
      width: 160px;
      padding-bottom: 100px;
      background-color: white;
      position: fixed;
      top: 0;
      z-index: 10;
      right: -193px;
      transition: right 300ms ease-in-out;
      border-left: 13px solid transparent;
      -webkit-border-image: url(../images/menuBorderMobile.png) 0 0 0 13 stretch;
      /* Safari 3.1-5 */
      -o-border-image: url(../images/menuBorderMobile.png) 0 0 0 13 stretch;
      /* Opera 11-12.1 */
      border-image: url(../images/menuBorderMobile.png) 0 0 0 13 stretch; }
      header nav ul li {
        width: 100%;
        clear: both;
        margin: 30px 0;
        height: 25px;
        cursor: pointer; }
        header nav ul li a {
          font-size: 1.1em; }
        header nav ul li img {
          float: left;
          margin: 10px;
          height: 25px;
          width: auto; }
        header nav ul li span {
          float: left;
          line-height: 25px;
          padding: 10px; }
      header nav ul #closeMenu {
        height: 50px; }
        header nav ul #closeMenu img {
          height: 25px;
          margin-top: -10px; }
        header nav ul #closeMenu span {
          margin-left: 40px; }
    header nav button {
      margin-top: 10px;
      cursor: pointer;
      background-color: transparent;
      border: none; }

.modal {
  margin: 0 auto;
  text-align: center;
  width: auto;
  max-width: 350px;
  padding: 30px;
  background-image: url("/Content/Images/loginBackground.png");
  background-size: 100% 100%; }
  .modal h2 {
    font-size: 23px;
    margin: 10px 0; }
  .modal p {
    font-size: 1.2em; }
  .modal #facebookButton {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    background-image: url("/Content/Images/facebook.png");
    background-size: 100% 100%;
    margin: 15px 0;
    cursor: pointer; }
  .modal form {
    margin: 0 auto; }
    .modal form.form-narrow {
      width: 220px; }
  .modal input[type="text"],
  .modal input[type="password"],
  .modal input[type="email"] {
    font-size: 1em; }
    .modal input[type="text"]:focus,
    .modal input[type="password"]:focus,
    .modal input[type="email"]:focus {
      outline: none; }
  .modal input[type="file"] {
    width: 80%; }
  .modal input[type="submit"] {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: "Indie Flower", cursive;
    margin-bottom: 15px;
    font-size: 1.1em; }
  .modal .login-footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-image: url("/Content/Images/loginButtonsBackground.png");
    background-size: 100% 100%; }
    .modal .login-footer a {
      width: 50%;
      float: left;
      padding: 0;
      transform: translate(0, 5px);
      border: none;
      height: 100%;
      background-color: transparent;
      font-family: "Indie Flower", cursive;
      font-size: 1.2em; }

h1 {
  font-size: 2.1em;
  margin-bottom: 50px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  text-align: center; }
  footer a img {
    width: 40px;
    margin: 5px 0; }
    footer a img:nth-child(2) {
      display: none; }
  footer a:hover img:first-child {
    display: none; }
  footer a:hover img:nth-child(2) {
    display: inline-block; }

.desktop {
  display: none; }

#canvas {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  position: relative; }

#gridBorder {
  width: 107.5%;
  height: 107.5%;
  position: absolute;
  left: -3.75%;
  top: -3.75%;
  z-index: 1;
  background-image: url("/Content/Images/gridBorder.png");
  background-size: 100% 100%;
  transition: all 100ms linear; }

#grid {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-image: url("/Content/Images/grid4.png");
  background-size: 100% 100%; }

.pieceWrapper {
  width: 70px;
  height: 70px;
  float: left; }

.pieceHolder {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 1;
  z-index: 4; }

.rotationButton {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -25%;
  margin-left: 16%;
  z-index: 5;
  background-image: url("/Content/Images/rotate.png");
  background-size: 100% 100%;
  cursor: pointer; }

.resizeButton {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 3; }

#tl {
  top: -10px;
  left: -10px;
  background-image: url("/Content/Images/button_tl.png");
  background-size: 100% 100%; }

#tr {
  top: -10px;
  left: 260px;
  left: calc(100% - 20px);
  background-image: url("/Content/Images/button_tr.png");
  background-size: 100% 100%; }

#bl {
  top: 260px;
  top: calc(100% - 20px);
  left: -10px;
  background-image: url("/Content/Images/button_bl.png");
  background-size: 100% 100%; }

#br {
  top: 260px;
  top: calc(100% - 20px);
  left: 260px;
  left: calc(100% - 20px);
  background-image: url("/Content/Images/button_br.png");
  background-size: 100% 100%; }

#playButton {
  display: none; }

#saveButton {
  display: none; }

#piecesContainer {
  padding-top: 25px;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  height: 100px; }
  #piecesContainer .pieces {
    position: absolute;
    left: 110%;
    border: 4px solid transparent;
    border-image: url("/Content/Images/pieceBorder.png") 8 stretch; }

.pieces {
  cursor: pointer;
  width: 60px;
  height: 60px;
  z-index: 5;
  background-repeat: no-repeat; }

#browseSection {
  margin-top: 20px;
  text-align: center; }
  #browseSection h1 {
    margin-left: 10%;
    font-size: 1.4em;
    text-align: left;
    margin-bottom: 10px; }
  #browseSection #browseArrow {
    float: right;
    margin-right: 10%;
    margin-bottom: 50px; }
  #browseSection #browseArrow:hover {
    background-image: url(/Content/Images/browseArrowBold.png); }
  #browseSection #popularImagesContainer img {
    width: 110px;
    display: inline-block;
    margin: 10px 3%;
    border: 12px solid transparent;
    border-image: url("/Content/Images/MainGalleryBorder.png") 20 stretch;
    cursor: pointer; }
    #browseSection #popularImagesContainer img:nth-child(3) {
      transform: translate(-7%, 15%); }
    #browseSection #popularImagesContainer img:nth-child(4) {
      transform: translate(-5%, 0); }
    #browseSection #popularImagesContainer img:nth-child(5) {
      transform: translate(5%, 10%); }
    #browseSection #popularImagesContainer img:nth-child(6) {
      transform: translate(5%, 0%); }
    #browseSection #popularImagesContainer img:nth-child(7) {
      transform: translate(5%, 10%); }
    #browseSection #popularImagesContainer img:hover {
      -webkit-border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch;
      /* Safari 3.1-5 */
      -o-border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch;
      /* Opera 11-12.1 */
      border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch; }

#aboutSection {
  display: none; }

.browse {
  text-align: center;
  margin-bottom: 30px; }
  .browse article {
    display: inline-block;
    text-align: center;
    margin: 0 5% 20px;
    position: relative;
    padding-top: 20px; }
    .browse article div {
      width: 150%;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: -25%;
      right: 0; }
    .browse article h1 {
      font-size: 0.9em;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px; }
    .browse article h2 {
      font-size: 0.7em;
      display: inline-block; }
    .browse article img {
      margin: 0 auto;
      display: block;
      width: 100px;
      height: 100px;
      border: 10px solid transparent;
      border-image: url("/Content/Images/MainGalleryBorder.png") 20 stretch; }
  .browse #browseShowMore {
    font-size: 1.2em;
    float: right;
    margin-right: 10%;
    margin-bottom: 50px; }
  .browse h1 {
    font-size: 1.3em; }

#browseCombinations {
  clear: both; }
  #browseCombinations h1 {
    text-align: left;
    margin-left: 10%; }
  #browseCombinations article:nth-child(6n + 2) {
    transform: translate(0, 10); }
  #browseCombinations article:nth-child(6n + 3) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(6n + 4) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(6n + 5) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(6n + 6) {
    transform: translate(-5%, -10%); }

#profileMain {
  padding: 0 10px;
  text-align: center; }
  #profileMain h1 {
    font-size: 1.4em;
    margin: 0 0 20px 0; }
  #profileMain p {
    text-align: left; }
  #profileMain div {
    width: 210px;
    padding: 15px;
    margin: 20px auto;
    border: 10px solid transparent;
    border-image: url("/Content/Images/profileUploadBorderMobile.png") 10 round; }
    #profileMain div p {
      text-align: center; }

.setContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 40px auto; }
  .setContainer h1 {
    font-size: 1.3em;
    margin: 0 0 10px 10px; }
  .setContainer:nth-child(odd) h1 {
    text-align: center; }

.setPiecesContainer {
  width: 100%;
  text-align: center; }
  .setPiecesContainer .setPiece {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 10px;
    border: 4px solid transparent;
    border-image: url("/Content/Images/profileSetBorderMobile.png") 10% stretch; }
    .setPiecesContainer .setPiece img {
      width: 100%;
      height: 100%; }
    .setPiecesContainer .setPiece:nth-child(10n + 1) {
      transform: translate(-7%, 15%);
      transform: rotate(-5deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 2) {
      transform: translate(5%, 10%);
      transform: rotate(-10deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 3) {
      transform: translate(-7%, 15%);
      transform: rotate(10deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 4) {
      transform: translate(-5%, 0);
      transform: rotate(-3deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 5) {
      transform: translate(5%, 10%);
      transform: rotate(14deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 6) {
      transform: translate(-7%, 15%);
      transform: rotate(-5deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 7) {
      transform: translate(5%, 10%);
      transform: rotate(-10deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 8) {
      transform: translate(-7%, 15%);
      transform: rotate(10deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 9) {
      transform: translate(-5%, 0);
      transform: rotate(-3deg); }
    .setPiecesContainer .setPiece:nth-child(10n + 10) {
      transform: translate(5%, 10%);
      transform: rotate(14deg); }

@media only screen and (min-width: 670px) {
  #canvas {
    width: 400px;
    height: 400px;
    margin-bottom: 30px; }
  .pieceWrapper {
    width: 130px;
    height: 130px; }
  .resizeButton {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3; }
  #tl {
    top: -10px;
    left: -10px;
    background-image: url("/Content/Images/button_tl.png");
    background-size: 100% 100%; }
  #tr {
    top: -10px;
    left: 380px;
    left: calc(100% - 20px);
    background-image: url("/Content/Images/button_tr.png");
    background-size: 100% 100%; }
  #bl {
    top: 380px;
    top: calc(100% - 20px);
    left: -10px;
    background-image: url("/Content/Images/button_bl.png");
    background-size: 100% 100%; }
  #br {
    top: 380px;
    top: calc(100% - 20px);
    left: 380px;
    left: calc(100% - 20px);
    background-image: url("/Content/Images/button_br.png");
    background-size: 100% 100%; }
  #piecesContainer {
    height: 160px; }
    #piecesContainer .pieces {
      width: 120px;
      height: 120px;
      left: 105%;
      border: 8px solid transparent;
      border-image: url("/Content/Images/pieceBorder.png") 12 stretch; }
  #browseSection #browseArrow {
    float: right; }
  #browseSection #popularImagesContainer img {
    width: 160px;
    margin: 20px 5%;
    border: 12px solid transparent;
    border-image: url("/Content/Images/MainGalleryBorder.png") 20 stretch; }
  .setContainer {
    width: 100%; }
    .setContainer h1 {
      font-size: 1.8em;
      margin: 0 0 10px 10px; }
    .setContainer:nth-child(even) h1 {
      margin-left: 20%; }
  #profileMain {
    font-size: 1.8em;
    margin-bottom: 50px; }
  .setPiecesContainer .setPiece {
    width: 132px;
    height: 132px;
    display: inline-block;
    margin: 20px 25px;
    border: 4px solid transparent;
    border-image: url("/Content/Images/profileSetBorderMobile.png") 10% stretch; }
  .browse article {
    margin: 0 2% 20px;
    padding-top: 20px; }
    .browse article div {
      width: 150%;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: -25%;
      right: 0; }
    .browse article h1 {
      font-size: 0.9em;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px; }
    .browse article h2 {
      font-size: 0.7em;
      display: inline-block; }
    .browse article img {
      width: 140px;
      height: 140px; }
  #browseSets article {
    margin: 0 6% 30px; }
    #browseSets article:nth-child(6n+ 2) {
      transform: translate(-5%, -10%); }
    #browseSets article:nth-child(6n+ 3) {
      transform: translate(5%, 10%); }
    #browseSets article:nth-child(6n+ 4) {
      transform: translate(0, -10%); }
    #browseSets article:nth-child(6n+ 5) {
      transform: translate(-5%, -10%); }
    #browseSets article:nth-child(6n+ 6) {
      transform: translate(-5%, 5%); }
    #browseSets article:nth-child(6n+ 7) {
      transform: translate(0, -10%); }
  #browseCombinations article:nth-child(5n + 2) {
    transform: translate(0, 10%);
    margin-left: 5%; }
  #browseCombinations article:nth-child(5n + 3) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(5n + 4) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(5n + 5) {
    transform: translate(-5%, -10%);
    margin-left: 23%; }
  #browseCombinations article:nth-child(5n + 6) {
    transform: translate(-5%, -10%);
    margin-right: 23%; } }

@media only screen and (min-width: 950px) {
  header {
    position: relative;
    margin-bottom: 30px; }
    header .mobile {
      display: none; }
    header #logo {
      position: absolute;
      left: 0;
      width: 134px;
      height: auto; }
    header nav {
      position: static;
      margin-right: 30px; }
      header nav ul {
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
        border: none;
        border-image: none;
        padding: 0; }
        header nav ul li {
          display: inline-block;
          width: auto;
          margin: 0;
          height: auto; }
          header nav ul li:hover a {
            text-decoration: underline; }
          header nav ul li a {
            float: none;
            height: 100%;
            line-height: normal;
            padding: 30px 20px;
            margin: 0;
            display: block;
            font-size: 1.1em; }
          header nav ul li span {
            float: none; }
        header nav ul #profileMenu {
          position: relative; }
          header nav ul #profileMenu:hover ul {
            display: block; }
          header nav ul #profileMenu ul {
            display: none;
            background-color: white;
            width: 110px;
            position: absolute;
            z-index: 99;
            padding-bottom: 10px;
            right: -8px;
            top: 60%;
            border-left: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid transparent;
            -webkit-border-image: url(/Content/images/menuBorder.png) 8 round;
            /* Safari 3.1-5 */
            -o-border-image: url(/Content/images/menuBorder.png) 8 round;
            /* Opera 11-12.1 */
            border-image: url(/Content/images/menuBorder.png) 8 round;
            font-size: 0.8em; }
            header nav ul #profileMenu ul li a {
              float: none;
              height: 20px !important;
              padding: 10px 10px;
              display: block; }
            header nav ul #profileMenu ul li span {
              float: left;
              padding: 0 3px;
              line-height: 20px; }
            header nav ul #profileMenu ul li img {
              margin: 0 3px;
              width: auto;
              height: 100%;
              float: left; }
            header nav ul #profileMenu ul li:hover span {
              text-decoration: underline; } }

@media only screen and (min-width: 1152px) {
  #wrapper {
    width: 1152px;
    margin: 0 auto;
    padding-bottom: 150px; }
  .modal {
    text-align: center;
    max-width: none;
    width: 450px;
    padding: 30px;
    background-image: url("/Content/Images/loginBackground.png");
    background-size: 100% 100%; }
    .modal p {
      font-size: 1.2em; }
    .modal #facebookButton {
      width: 140px;
      height: 140px;
      background-color: transparent;
      border: none;
      background-image: url("/Content/Images/facebook.png");
      background-size: 100% 100%;
      margin: 15px 0;
      cursor: pointer; }
    .modal form {
      margin: 0 auto; }
      .modal form.form-narrow {
        width: 220px; }
    .modal input {
      font-size: 1em; }
      .modal input:focus {
        outline: none; }
    .modal input[type=submit] {
      border: none;
      background-color: transparent;
      font-family: "Indie Flower", cursive;
      margin-bottom: 15px; }
  .mobile {
    display: none; }
  .desktop {
    display: block; }
  .mainArticle {
    margin-top: 200px; }
  .mainSections {
    margin-bottom: 40px; }
  footer img {
    margin: 20px 10px;
    width: auto; }
  #canvas {
    width: 400px;
    height: 400px;
    margin-left: 375px;
    margin-bottom: 30px;
    float: left; }
  .pieceWrapper {
    width: 150px;
    height: 150px; }
    .pieceWrapper:hover .rotationButton {
      display: block; }
  .rotationButton {
    width: 20px;
    height: 20px;
    margin-top: -25%;
    margin-left: 21%;
    display: none;
    background-image: url("/Content/Images/rotate.png"); }
  .resizeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3; }
  #tl {
    top: -10px;
    left: -10px;
    background-image: url("/Content/Images/button_tl.png");
    background-size: 100% 100%; }
  #tr {
    top: -10px;
    left: 380px;
    left: calc(100% - 20px);
    background-image: url("/Content/Images/button_tr.png");
    background-size: 100% 100%; }
  #bl {
    top: 380px;
    top: calc(100% - 20px);
    left: -10px;
    background-image: url("/Content/Images/button_bl.png");
    background-size: 100% 100%; }
  #br {
    top: 380px;
    top: calc(100% - 20px);
    left: 380px;
    left: calc(100% - 20px);
    background-image: url("/Content/Images/button_br.png");
    background-size: 100% 100%; }
  #playButton {
    display: block;
    width: 80px;
    height: 59px;
    background-image: url("/Content/Images/playButton.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    margin-top: 0;
    margin-left: 100px;
    float: left;
    cursor: pointer; }
  #saveButton {
    display: block;
    border: none;
    background-color: transparent;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    height: auto;
    font-family: INHERIT;
    font-size: 1.3em;
    cursor: pointer; }
    #saveButton:hover {
      text-decoration: underline; }
  #piecesContainer {
    height: 160px; }
    #piecesContainer .pieces {
      left: 105%;
      border: 8px solid transparent;
      border-image: url("/Content/Images/pieceBorder.png") 12 stretch; }
  .pieces {
    width: 100px;
    height: 100px; }
  #browseSection {
    text-align: center; }
    #browseSection h1 {
      margin-left: 10%;
      text-align: left; }
    #browseSection #popularImagesContainer img {
      width: 250px;
      display: inline-block;
      margin: 20px 20px 40px 20px;
      border: 15px solid transparent;
      border-image: url("/Content/Images/MainGalleryBorder.png") 20 stretch; }
      #browseSection #popularImagesContainer img:nth-child(3) {
        transform: translate(-7%, 15%); }
      #browseSection #popularImagesContainer img:nth-child(4) {
        transform: translate(-5%, 0); }
      #browseSection #popularImagesContainer img:nth-child(5) {
        transform: translate(5%, 10%); }
      #browseSection #popularImagesContainer img:nth-child(6) {
        transform: translate(5%, 0%); }
      #browseSection #popularImagesContainer img:nth-child(7) {
        transform: translate(5%, 10%); }
  #aboutSection {
    text-align: center;
    display: block;
    margin-bottom: 0;
    margin-top: 90px;
    position: relative;
    height: 600px; }
    #aboutSection p {
      white-space: pre-wrap; }
    #aboutSection h1 {
      font-size: 2.2em;
      text-align: center;
      transform: translate(0px, 10px);
      margin: 0 auto;
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-image: url("/Content/Images/h1Border.png");
      background-size: 100% 100%; }
    #aboutSection article {
      border: 15px solid transparent;
      padding: 5px;
      border-image: url("/Content/Images/gridBorder.png") 30 round;
      background-color: white; }
      #aboutSection article h2 {
        font-size: 1.5em;
        margin: 15px 0; }
      #aboutSection article p {
        white-space: normal;
        font-size: 1.2em;
        line-height: 180%; }
    #aboutSection #index-article-1 {
      font-size: 0.8em;
      line-height: 23px;
      width: 320px;
      height: 320px;
      left: 110px;
      top: 80px;
      position: absolute; }
      #aboutSection #index-article-1 p {
        padding-right: 50px;
        padding-left: 20px; }
    #aboutSection #index-article-2 {
      font-size: 0.8em;
      position: absolute;
      line-height: 23px;
      z-index: 1;
      width: 280px;
      height: 280px;
      top: 250px;
      left: 420px; }
      #aboutSection #index-article-2 p {
        padding-right: 30px; }
    #aboutSection #index-article-3 {
      font-size: 0.8em;
      line-height: 23px;
      position: absolute;
      z-index: 2;
      width: 350px;
      height: 350px;
      left: 695px;
      top: 100px; }
      #aboutSection #index-article-3 p {
        margin-top: 40px; }
        #aboutSection #index-article-3 p span {
          font-size: 1.3em; }
    #aboutSection div {
      clear: both; }
  #profileMain h1 {
    margin-bottom: 50px; }
  #profileMain p {
    margin-left: 10%; }
  #profileMain div {
    width: 800px; }
  .browse article {
    margin: 0 2% 20px;
    padding-top: 30px; }
    .browse article div {
      width: 120%;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: -10%;
      right: 0; }
    .browse article h1 {
      font-size: 1.3em;
      margin-right: 5px; }
    .browse article h2 {
      font-size: 1.1em; }
    .browse article img {
      margin: 0 auto;
      display: block;
      width: 260px;
      height: 260px;
      border: 15px solid transparent;
      border-image: url("/Content/Images/MainGalleryBorder.png") 20 stretch; }
      .browse article img:hover {
        -webkit-border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch;
        /* Safari 3.1-5 */
        -o-border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch;
        /* Opera 11-12.1 */
        border-image: url(/Content/Images/MainGalleryBorderBold.png) 20 stretch; }
  .browse h1 {
    font-size: 1.6em; }
  #browseCombinations h1 {
    text-align: left;
    margin-left: 10%; }
  #browseCombinations article:nth-child(5n + 2) {
    transform: translate(0, 10%);
    margin-left: 5%; }
  #browseCombinations article:nth-child(5n + 3) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(5n + 4) {
    transform: translate(-5%, -10%); }
  #browseCombinations article:nth-child(5n + 5) {
    transform: translate(-5%, -5%);
    margin-left: 20%; }
  #browseCombinations article:nth-child(5n + 6) {
    transform: translate(-5%, -10%);
    margin-right: 20%; }
  .modal .login-footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-image: url("/Content/Images/loginButtonsBackground.png");
    background-size: 100% 100%; }
    .modal .login-footer a {
      width: 50%;
      float: left;
      padding: 0;
      transform: translate(0, 5px);
      border: none;
      height: 100%;
      background-color: transparent;
      font-family: "Indie Flower", cursive;
      font-size: 1.2em; }
  #createAccount #userIcon {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: url("/Content/Images/userIcon.png");
    background-size: 100% 100%; }
  #browseSets article {
    margin: 0 1% 60px; }
    #browseSets article:nth-child(6n + 2) {
      transform: translate(-5%, -10%); }
    #browseSets article:nth-child(6n + 3) {
      transform: translate(5%, 10%); }
    #browseSets article:nth-child(6n + 4) {
      transform: translate(5%, -10%); }
    #browseSets article:nth-child(6n + 5) {
      transform: translate(0%, -5%); }
    #browseSets article:nth-child(6n + 6) {
      transform: translate(-5%, 10%); }
    #browseSets article:nth-child(6n + 7) {
      transform: translate(0, -5%); } }

@media only screen and (min-width: 1920px) {
  #canvas {
    width: 550px;
    height: 550px;
    margin-left: 301px; }
  /*#login div {
        width: 100%;
        height: 50px;
        background-image: $url_5;
        background-size: 100% 100%;

        button {
            width: 50%;
            float: left;
            padding: 0;
            transform: translate(0, 5px);
            border: none;
            height: 100%;
            background-color: transparent;
            font-family: $font-family;
            font-size: 1.2em;
        }
    }

    #createAccount #userIcon {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        background-image: $url_6;
        background-size: 100% 100%;
    }

    #browseSets article:nth-child(6n + 2) {
        transform: translate(-5%, -10%);
    }

    #browseSets article:nth-child(6n + 3) {
        transform: translate(5%, 10%);
    }

    #browseSets article:nth-child(6n + 4) {
        transform: translate(0, -10%);
    }

    #browseSets article:nth-child(6n + 5) {
        transform: translate(-5%, -10%);
    }

    #browseSets article:nth-child(6n + 6) {
        transform: translate(-5%, 5%);
    }

    #browseSets article:nth-child(6n + 7) {
        transform: translate(0, -10%);
    }

    .setPiece img {
        width: 100%;
        height: 100%;
    }*/ }

